<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    <!-- Open Graph -->
    {% if page.og.type %}
    <meta property="og:type" content="{{ page.og.type }}" />
    {% endif %}
    {% if page.title %}
    <meta itemprop="og:headline" content="{{ page.title }}" />
    {% endif %}

    <meta itemprop="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    {% if page.image.feature %}
    <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.image.feature }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    {% if page.title %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "{{ page.og.type }}",
        "headline": "{{ page.title }}",
        "datePublished": "{{ page.date }}",
        "image": [
          "{{ site.url }}/assets/images/{{ page.image.feature }}"
        ]
      }
    </script>
    {% endif %}
